*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
    background-color: #5c5a71;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

/* FORM STYLE */
.form {
    background-color: #fff;
    margin: 10px 0 12px;
    padding: 20px;
    border-radius: 15px;
    border: solid 1px #05160498;
    max-width: 400px;
    width: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
}
.form h2 {
    text-align: center;
    margin: 0 0 30px 0;
}
form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
label {
    padding:0 0 0 5px;
    margin-bottom: 3px;
}
form div input,
form div select,
form div textarea {
    background-color: #fff;
    padding: 7px;
    border-radius: 8px;
    border: solid 1px #05160498;
}
form div textarea{
    resize: none;
    height: 80px;
}
.prodi{
    margin: 10px;
}
form .prodi .informatika,
form .prodi .sisfor {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 5px;
}
.form .submit {
    margin: 30px 0 0 0 ;
    border: solid 1px #05160498;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #a2c8a098;
    transition: all .5s ease;
    align-items: center;
}
/* .form .submit a {
    color: black;
} */
.form .submit:hover{
    background-color: #495a4898;
    cursor: pointer;
}
